<!DOCTYPE html>
<html>
  {{> head}}
  <body>

    {{> header}}
  <main>
    {{#entries}}
      {{> item}}
    {{/entries}}
  </main>
  <footer class="footer-menu">
      <ul>
          {{#menu}}  
              <li>
                <a href="https://twitter.com/rafagarces" title="Twitter" class="foo-link">Twitter</a>
                <a href="https://www.linkedin.com/in/rafagarces" title="LinkedIn" class="foo-link" >LinkedIn</a>
                <a href="http://instagram.com/rafagarces" title="Instagram" class="foo-link" >Instagram</a>
                <a href="https://behance.net/rafagarces" title="Behance" class="foo-link" >Behance</a>
              </li>
          {{/menu}}              
        </ul>
    {{> footer}}
  </footer>
  </body>
</html>