a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style-type:none}
blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

{{{appCSS}}}

/*

Custom scroll bar

*/

      /* total width */
      nav::-webkit-scrollbar {
        width:4px
        }

      /* background of the scrollbar except button or resizer */
      nav::-webkit-scrollbar-track {
        background-color: limegreen; 
        }

      /* scrollbar itself */
      nav::-webkit-scrollbar-thumb {
        background-color:tomato ;
        border-radius:4px ;
        }

      /* set button(top and bottom of the scrollbar) */
      nav::-webkit-scrollbar-button {display:none}

/*

  Font Settings
  Modular Scale — 1.125 (Segunda mayor) [https://youtu.be/C6N8bOAC24M?list=PL4xaDWI1ByuTM7R7g67R38RDGBO5AolsN]
  https://www.modularscale.com/?1&em&1.125 

*/

html {
  font-size: 100% ;         /* 100% = 16px */
  }

  .header-title {
  font-size: 2.566em ;      /* 2.566 × 16px = 41.056px */
  padding: 0.4em;           /* 0.4 em = 16,42px, 41.056 x 0.4 = 16,42 */
}

.nav-title {
  font-size: 1.424em ;      /* 1.424 × 16px = 22.78px */
  margin-bottom: .345em ;
  text-decoration: none ;
  }
  .nav-date {
      font-size: 1.424em ;
      margin-bottom: .272em ;
      font-style: italic ; 
      }
    .nav-tag {
      font-size: 1.424em ;
      font-style: italic ; 
      }

.footer-menu {
  font-size: 2.566em ;
  }

html, body {
  width: 100vw;
  min-height: 100vh ;
  margin: 0 ;
  padding: 0 ;
  font-family: "TimesNewRoman", "Times New Roman", Times, Georgia, serif ;
  text-rendering: optimizelegibility ;
  -webkit-font-smoothing: antialiased ;
  font-weight: 400 ;
  
  }
body {
  display: grid ;
  grid-template-columns: [header-start] minmax(200px, 3fr) 9fr [header-end] ;
  grid-template-rows:[header-start] 56px [nav-start] auto [nav-end] 56px  ;
  }
header {
  display: flex ;
  justify-content: flex-start ;
  align-items: center ;
  grid-column: header-start / header-end ;
  color: black ;
  
  background: chocolate ;

  position: -webkit-sticky ;
  position: sticky ;
  top: 0 ;
  z-index: 2 ;
  }

  nav {
    grid-row: nav-start / nav-end ;
    background: white ;
    background-color: teal ;
    height: calc(100vh - 96px) ;
    overflow: auto ;
    -webkit-overflow-scrolling: touch ;
    }
    .nav-entry {
      padding: .889em ; 
      display: block ;
      text-decoration: none ;    
      -webkit-font-smoothing: antialiased ;
      color: black ;
      text-decoration: none ;
      }
      .nav-entry:hover .nav-title {
        text-decoration: underline ;
        }

main {
    grid-column-start: 2 ;
    background-color: red ;
    height: calc(100vh - 96px) ;
    overflow: auto ;
    -webkit-overflow-scrolling: touch ;
    } 

footer {
  grid-column: header-start / header-end ;
  background-color:black ;
  position: -webkit-sticky ;
  position: sticky ;
  bottom: 0 ;
  z-index: 2 ;
  display: flex ;
  justify-content: flex-start ;
  align-items: flex-start ;
  padding-top: .5rem ;
  }

  .foo-link {
    font-family: "TimesNewRoman", "Times New Roman", Times, Georgia, serif ;
    color: white ;
    text-decoration: none ;
    padding: 0 0 0 1rem ;
    }
    .foo-link:hover{
      text-decoration: underline ;
    }

/*

  Cosas de Blot

*/

.pagination {text-align: center;margin: 2em 0}
.pagination a {margin: 0 1em;display: inline-block;}

a.active {color: inherit;text-decoration: none;}

img {max-width: 100%;height: auto;vertical-align: middle;}

.clear {width: 100%;clear: both;display: block;}

.entry {
  max-width: 100% ;
  height: 681px ;
  position: relative;

  padding: 0 128px ;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  overflow: hidden ;
  }
  
.entry:hover img {opacity: 0.8}

.entry .full {position: absolute;top:0;left: 0;right: 0;bottom: 0;z-index: 1}

.entry:before {content: "";display: block;padding-top: 0%;}

.entry img {
  position: absolute;
  top: -1000px;
  bottom: -1000px;
  left: -1000px;
  right: -1000px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}


.entry .teaser {
  width: 100% ;
}

.entry .teaser * {font-size: 12px;line-height: 15px;text-align: center;}